// Global annotations
////
/// @group widgets
/// @access private
////

$bb-portfolio-summary-border-color: $color-neutral-grey !default;
$bb-portfolio-summary-table-head-bg: $color-neutral-lightest !default;
$bb-portfolio-summary-table-body-bg: $color-neutral-white !default;

$bb-portfolio-summary-table-col-width: 130px !default;
$bb-portfolio-summary-table-first-col-width: 250px !default;
$bb-portfolio-summary-table-last-col-width: 80px !default;

.bb-portfolio-summary-positions__collapsible-wrapper {
  & > .card {
    overflow: hidden;
  }

  .collapse {
    & > .card-body {
      padding: 0;
    }
  }

  table {
    margin-bottom: 0;
  }
}

.bb-portfolio-summary-positions__collapsible-content {
  display: block;
  border-top: 1px solid $bb-portfolio-summary-border-color;
}

.bb-portfolio-summary-positions__regions {
  .bb-subtitle {
    padding-left: $spacer;
  }
}

.bb-portfolio-summary-positions-regions__header--open {
  position: relative;

  &:after {
    position: absolute;
    top: calc(100% - 20px);
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 20px;
    box-shadow: 0 6px 9px -4px rgba(0, 0, 0, 0.19);
    content: "";
    pointer-events: none;
  }
}

.bb-portfolio-summary-positions__table {
  &:not(:first-child) {
    border-top: 1px solid $bb-portfolio-summary-border-color;
  }

  tr {
    th,
    td {
      &:not(:first-child) {
        font-weight: 600;
        text-align: right;
      }

      &:not(:last-child) {
        min-width: $bb-portfolio-summary-table-col-width;
      }

      &:first-child {
        position: sticky;
        left: 0;
        min-width: $bb-portfolio-summary-table-first-col-width;
        padding-left: 2rem;
        box-shadow: inset -1px 0 $bb-portfolio-summary-border-color;
      }

      &:last-child {
        position: sticky;
        right: 0;
        min-width: $bb-portfolio-summary-table-last-col-width;
        text-align: center;
        box-shadow: inset 1px 0 $bb-portfolio-summary-border-color;
      }
    }

    th {
      font-size: $subtitle-font-size;
      white-space: nowrap;
      background-color: $bb-portfolio-summary-table-head-bg;

      &:not(:first-child) {
        text-align: right;
      }
    }

    td {
      padding: 1rem;
      background-color: $bb-portfolio-summary-table-body-bg;
    }
  }
}
