// Global annotations
////
/// @group forms
/// @access private
////

$amount-input-height: 3.5rem !default;

.bb-amount-input__symbol {
  position: absolute;
  top: 50%;
  padding-left: $spacer-lg;
  transform: translate(0, -50%);
}
.bb-amount-input__field {
  position: relative;
  flex: 1 0 auto;
}
.bb-amount-input__field--large {
  .form-control {
    height: $amount-input-height;
  }
}
