// Global annotations
////
/// @group forms
/// @access private
////

$input-group-browser-zoom-adjust: 1.4px !default;
$input-group-form-control-border-right-width: 0 !default;
$input-group-form-control-border-left-width: 0 !default;

$input-group-append-prepend-btn-bg: $input-bg;
$input-group-append-prepend-btn-color: $color-neutral-darker;
$input-group-append-prepend-btn-border: $input-border-width solid $input-border-color !default;
$input-group-append-prepend-btn-focus-border-color: $input-focus-border-color !default;
$input-group-append-prepend-btn-hover-bg: $input-bg;
$input-group-append-prepend-btn-hover-border-color: $input-border-color !default;
$input-group-append-prepend-btn-hover-color: $color-primary !default;

@import "~bootstrap/scss/input-group";

.input-group {
  > .form-control[type="text"],
  > .form-control[type="number"],
  > .form-control[type="email"],
  > .form-control[type="password"],
  > .form-control[type="search"] {
    &:not(:last-child),
    &:not(:last-child).ng-invalid.ng-touched {
      border-right-width: $input-group-form-control-border-right-width;
    }

    &:not(:first-child),
    &:not(:first-child).ng-invalid.ng-touched {
      border-left-width: $input-group-form-control-border-left-width;
    }
  }
}

.input-group-prepend,
.input-group-append {
  .btn {
    height: $input-height;
    padding-right: $sizer-md;
    padding-left: $sizer-md;
    color: $input-group-append-prepend-btn-color;
    background-color: $input-group-append-prepend-btn-bg;
    border: $input-group-append-prepend-btn-border;

    &.btn-sm {
      height: $input-height-sm;
    }

    &:not(.disabled):not(:disabled):focus,
    &:not(.disabled):not(:disabled).focus {
      border-color: $input-group-append-prepend-btn-focus-border-color;
    }

    &:not(.disabled):not(:disabled):hover {
      color: $input-group-append-prepend-btn-hover-color;
      background-color: $input-group-append-prepend-btn-hover-bg;
      border-color: $input-group-append-prepend-btn-hover-border-color;
    }

    &.disabled,
    &:disabled {
      color: $input-disabled-color;
      background-color: $input-disabled-background-color;
      cursor: not-allowed;
      pointer-events: initial;
    }
  }
}

.input-group-prepend {
  // Browser zoom can cause a small space between prepend and form-control
  margin-right: -1 * $input-group-browser-zoom-adjust;

  .btn {
    @include border-left-radius($input-border-radius);
    @include border-right-radius(0);
    border-right: none;

    &:focus {
      border-right: none;
    }
  }
}

.input-group-append {
  // Browser zoom can cause a small space between append and form-control.
  margin-left: -1 * $input-group-browser-zoom-adjust;

  .btn {
    @include border-right-radius($input-border-radius);
    @include border-left-radius(0);
    border-left: none;

    &:focus {
      border-left: none;
    }
  }
}
