// Global annotations
////
/// @group navigation
/// @access private
////

$nav-tabs-link-color: $color-neutral-black !default;
$nav-tabs-link-line-height: $sizer-lg !default;
$nav-tabs-link-border-radius: $sizer-xs / 2 !default;
$nav-tabs-link-hover-bg: $color-neutral-lightest !default;
$nav-tabs-link-focus-width: 3px !default;
$nav-tabs-link-focus-color: rgba($color-info, 0.2) !default;
$nav-tabs-link-active-border-bottom-height: 4px !default;
$nav-tabs-link-active-font-weight: $font-weight-semi-bold !default;

@import "~bootstrap/scss/nav";

.nav-tabs {
  flex-wrap: nowrap;
  align-items: stretch;
  overflow-x: auto;
  overflow-y: hidden;

  .nav-link {
    position: relative;
    height: 100%;
    padding: $sizer-sm $sizer-lg;
    color: $nav-tabs-link-color;
    line-height: $nav-tabs-link-line-height;
    text-align: center;
    border: 0;
    border-radius: 0 0 $nav-tabs-link-border-radius;

    // rounded tab underline
    &:after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: $nav-tabs-link-active-border-bottom-height;
      border-radius: $nav-tabs-link-border-radius;
      content: "";
    }

    &:focus {
      border-radius: $nav-tabs-link-border-radius;
      outline: 0;
      box-shadow: 0 0 0 $nav-tabs-link-focus-width $nav-tabs-link-focus-color;
    }

    &:hover {
      background-color: $nav-tabs-link-hover-bg;

      &:after {
        background-color: $nav-tabs-link-hover-border-color;
      }
    }
  }

  .nav-link.active {
    font-weight: $nav-tabs-link-active-font-weight;

    &:after {
      background-color: $nav-tabs-link-active-border-color;
    }

    &:hover {
      background-color: $nav-tabs-link-hover-bg;
    }
  }

  .nav-item {
    margin-top: $spacer-xs;
    margin-left: $spacer-xs;
  }
}
