// Global annotations
////
/// @group mixins
/// @access private
////

// adds adjacent lines to elements
// Main purpose is to allow a collection of icons to be connected
@mixin apply-adjacent-lines($parent, $child, $color, $value) {
  .#{$parent}:not(:first-of-type) > .#{$child}-#{$color}::before,
  .#{$parent}:not(:last-of-type) > .#{$child}-#{$color}::after {
    position: absolute;
    top: 40%;
    width: 50%;
    border-top: solid $spacer/2 $value;
    content: "";
  }

  .#{$parent}:not(:first-of-type) > .#{$child}-#{$color}::before {
    right: 50%;
    left: $font-icon-size-sm * -1;
  }
}
