// Global annotations
////
/// @group widgets
/// @access private
////

.bb-payment-card-self-service__inactive-container {
  display: inline-block;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.bb-payment-card-self-service-row {
  @include media-breakpoint-down(sm) {
    display: block;
  }
}

.bb-payment-card-self-service-row__description {
  @include media-breakpoint-down(sm) {
    margin-right: 0;
    margin-bottom: $spacer-md;
  }
}

.bb-payment-card-self-service-row__button {
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}
