// Global annotations
////
/// @group universal-collection
/// @access private
////

// @deprecated - use `.bb-heading-widget` without a wrapping container inside it
.heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1.5rem 1rem;
}
