// Global annotations
////
/// @group feedback-indicators
/// @access private
////

@import "~bootstrap/scss/alert";

$alert-notification-background-color: $color-neutral-white !default;
$alert-notification-border-radius: $border-radius-md !default;
$alert-notification-heading-color: $color-neutral-black !default;
$alert-notification-closing-icon-color: $color-neutral-dark !default;

// Bootstrap overrides
@each $color, $value in $theme-alert-colors {
  $alert-contrasted-text-color: color-yiq($value);

  .alert-#{$color} {
    @include alert-variant($value, transparent, $alert-contrasted-text-color);

    .alert-link {
      color: $alert-contrasted-text-color;
      font-weight: normal;
      text-decoration: underline;
    }

    .close:hover {
      color: $alert-contrasted-text-color;
    }

    .text-#{$color} {
      /* stylelint-disable-next-line */
      color: $alert-contrasted-text-color !important;
    }

    .bb-icon {
      color: $alert-contrasted-text-color;
    }
  }
}

/// "Notification" variant for the Bootstrap alert component.  Use .bb-notification instead.
///
/// @name alert-notification
/// @deprecated - use bb-notification
///
/// @example html
///   <div class="alert alert-notification">
///     <div class="alert-body">
///       <i class="alert-icon bb-icon bb-icon-favorite"></i>
///       <div class="alert-content">
///         <strong class="alert-heading">Alert title</strong>
///         <span>Alert description</span>
///       </div>
///     </div>
///   </div>
.alert-notification {
  padding: $sizer-lg;
  background-color: $alert-notification-background-color;
  border-radius: $alert-notification-border-radius;
  box-shadow: $box-shadow-sm;

  .bb-button-bar {
    margin-top: $spacer-md;
  }

  &.alert-dismissible {
    .close {
      margin: $spacer;
      padding: $sizer-xs;
      color: $alert-notification-closing-icon-color;
    }

    .alert-heading {
      margin-right: $spacer-lg;
    }
  }

  .alert-heading {
    color: $alert-notification-heading-color;
  }
}

/// The Bootstrap alert component, amended to optionally display an icon.
///
/// @name alert
///
/// @example html - default
///   <div class="alert alert-danger">
///     <div class="alert-body">
///       <div class="alert-content">
///         <strong class="alert-heading">Alert title</strong>
///         <span>Alert description</span>
///       </div>
///     </div>
///   </div>
///
/// @example html - with icon
///   <div class="alert alert-danger">
///     <div class="alert-body">
///       <i class="alert-icon bb-icon bb-icon-favorite"></i>
///       <div class="alert-content">
///         <strong class="alert-heading">Alert title</strong>
///         <span>Alert description</span>
///       </div>
///     </div>
///   </div>
.alert {
}

// Bootstrap override
.alert-dismissible {
  padding-right: $alert-dismissible-padding-right;

  .close {
    padding: $alert-close-padding;
    font-weight: $alert-dismissible-font-weight;
    text-shadow: none;
    opacity: 1;
  }
}

// Bootstrap override
.alert-heading {
  font-weight: $font-weight-semi-bold;
  font-size: $font-size-base;
}

// Custom classes
.alert-icon {
  margin-right: $alert-icon-margin-right;
}

.alert-body {
  display: flex;
}

.alert-content {
  display: flex;
  flex-basis: 100%;
  flex-direction: column;
  font-size: $font-size-subtitle;
}

.alert-heading + .alert-description {
  margin-top: $alert-description-margin-top;
}
